<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style_booking.css" />



</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Book Fresco now!</h1>
						</div>
						<div class="form-btn">
							<button class="submit-btn">
								<a href="./index_event.html">Book for an event</a>
							</button>
						</div>
						<br>
						<div class="form-btn">
							<button class="submit-btn" >
								<a href="./index_table.html">Book a table </a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</body>

</html>