<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    <title>Document</title>
</head>
<body>
    <form method="POST" name="f"  action="../Core/AjouterEmploye.php">
<table border="1">
            <tr>
                <td> CIN <input  type="number" name="CIN" ></td>
             </tr>
             <tr>
                <td> Nom <input  type="text" name="Nom" ></td>
             </tr>
             <tr>
                <td> Prenom <input  type="text" name="Prenom" ></td>
             </tr>
             <tr>
                <td> Nb_Heures <input  type="number" name="Nb_Heures" ></td>
             </tr>
             <tr>
                <td>Tarif_Horaire  <input  type="number" name="Tarif_Horaire" ></td>
             </tr>
             <tr>
                <td><input  type="submit" name="submit" ></td>
             </tr>


            </form>
</table>



</body>
</html>